<div class="todo-header">
<div class="row">
<div class="col-sm-6">
<h4 class="bigger lighter">
My Todos App</h4>
</div>
<div class="col-sm-3"><div class="spinner" ng-show="loading"><img src="../app/lib/loading.gif" /></div>
</div>
<div class="col-sm-3">
<input class="form-control search header-elements-margin pull-right" type="text" placeholder="search todos here" ng-model="filterTask" />
</div>

</div><!--eor-->
</div><!--eo header widget-->

<div class="todo-body">
<form class="add-todo" id="newTaskForm">
<div class="form-actions">
<div class="input-group"><input class="form-control" type="text" name="comment" placeholder="Add new todo" ng-model="todoInput" required />
<div class="input-group-btn"><button class="btn btn-default" type="submit" ng-click="addTask(todoInput)"><i class="glyphicon glyphicon-plus"></i>Add new todo</button>

</div>
</div>
</div>
</form>
<div class="todo">
	<label class="checkbox">

	</label>
</div>

<div class="row todos" ng-repeat="todo in todos | filter: filterTask">
<div class="col-sm-9 todoList" >
<input type="checkbox" value="todo.STATUS" ng-checked="todo.STATUS==2" ng-click="updateStatus(todo.ID, todo.STATUS, todo.TASK)">
<span ng-class="{strike:todo.STATUS==2}">{{todo.TASK}}</span>
</div>
<div class="col-sm-3">
<button class="btn btn-danger pull-right" ng-click="deleteTask(todo.ID)"><i class="glyphicon glyphicon-trash"></i></button>
</div>
</div>
</div><!--eo widget body-->

